    </main>
    {{>scripts}}
    <footer>
        <p class="credits">Designed and developed by {{author}} for <a href="https://revolutionvisualarts.com">Revolution Visual Arts</a>.</p>
    </footer>
</body>

</html>