<nav>
    <ul class="navigation">
        <li><a href="/" class="top-nav-link">Home</a></li>
        <li><a href="/help" class="top-nav-link">Help</a></li>
        <li><a href="/contact" class="top-nav-link">Contact</a></li>
    </ul>
</nav>