  /*
  Flaticon icon font: Flaticon
  Creation date: 23/10/2019 06:03
  */

  @font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/Flaticon.eot");
    src: url("/assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
      url("/assets/fonts/Flaticon.woff2") format("woff2"),
      url("/assets/fonts/Flaticon.woff") format("woff"),
      url("/assets/fonts/Flaticon.ttf") format("truetype"),
      url("/assets/fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: "Flaticon";
      src: url("/assets/fonts/Flaticon.svg#Flaticon") format("svg");
    }
  }

  .fi:before {
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  [class^="flaticon-"], [class*="flaticon-"] {
    &:before, &:after {
      font-family: Flaticon;
      font-size: inherit;
      font-style: normal;
      margin: 0 10px;

      &.ltr {
          margin: 0 10px 0 0;
      }

      &.rtl {
          margin: 0 0 0 10px;
      }

      &.cls {
          margin: 10px;
      }
    }
  }

  .flaticon-download:before {
    content: "\f100";
  }

  .flaticon-menu:before {
    content: "\f101";
  }

  .flaticon-gear:before {
    content: "\f102";
  }

  .flaticon-adjust:before {
    content: "\f103";
  }

  .flaticon-help:before {
    content: "\f104";
  }

  .flaticon-grid:before {
    content: "\f105";
  }

  .flaticon-save:before {
    content: "\f106";
  }

  $font-Flaticon-download: "\f100";
  $font-Flaticon-menu: "\f101";
  $font-Flaticon-gear: "\f102";
  $font-Flaticon-adjust: "\f103";
  $font-Flaticon-help: "\f104";
  $font-Flaticon-grid: "\f105";
  $font-Flaticon-save: "\f106";